body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pass-box {
  border: 1px solid #6e6e6e;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 0 10px;
  width: max-content;
  input {
    font-size: 1.2em;
    width: 200px;
    padding: 5px 10px;
    outline: none;
    letter-spacing: 0.05em;
    border: none;
  }
  i {
    color: #6e6e6e;
  }
}

select {
  outline: none;
  padding: 5px 10px;
}

.select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.select-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#prefix, #suffix {
  width: 100px;
  padding: 5px 10px;
  outline: none;
}

#gen-btn {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #6e6e6e;
  color: #f3f3f3;
}