* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wraper {
  background-image: url('bg.jpg');
  width: min(400px, 75vw);
  height: min(600px, 75vh);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 15px #000000aa;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  pointer-events: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -8px 0px 32px rgba(0, 0, 0, 0.6);
  z-index: 1;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.overlay:hover {
  transform: scaleY(0);
}

.material-icons {
  text-align: center;
}

.material-icons.big {
  font-size: 4em;
  color: yellow;
}

.label {
  font-family: Merriweather, Sans-Serif;
  font-size: 1.5em;
}

.label span {
  font-family: "Open sans", Sans-Serif;
  font-size: 0.9em;
}