:root {
  --clr-white: #FFFFFFFF;
  --clr-white2: #F3F3F3FF;
  --clr-red: #D81159FF;
  --clr-red2: #8F2D56FF;
  --clr-green: #00CC99FF;
  --clr-blue: #00A6A6FF;
  --clr-blue2: #218380FF;
  --clr-blue3: #274156FF;
  --clr-blue4: #1C6E8CFF;
  --clr-ylo: #F6AE2DFF;
  --clr-purple: #320D6DFF;
  --clr-purple2: #462255FF;
  --clr-gray: #595F72FF;
  --clr-dark: #1E212BFF;
  --clr-dark2: #0E111BFF;
  --clr-shadow: #00000033;
}

.default {
  --background-color: var(--clr-white2);
  --box-color: var(--clr-white);
  --text-color-dark: var(--clr-dark);
  --text-color-light: var(--clr-white2);
  --primary-color: var(--clr-blue4);
  --accent-color: var(--clr-ylo);
}

.dark {
  --background-color: var(--clr-dark);
  --box-color: var(--clr-dark2);
  --text-color-light: var(--clr-dark);
  --text-color-dark: var(--clr-white2);
  --primary-color: var(--clr-blue4);
  --accent-color: var(--clr-ylo);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Amaranth";
}

body {
  background-color: var(--background-color);
  position: relative;
  color: var(--text-color-dark);
}

header {
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px;
  letter-spacing: 2px;
  border-bottom: 2px solid var(--accent-color);
  color: var(--text-color-light);
  margin-bottom: 20px;
  position: relative;
}

header h1 {
  font-size: 250%;
}

header ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

header a {
  font-size: 120%;
  color: var(--accent-color);
  position: relative;
  transition: color 0.3s ease;
}

header a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

header a:hover {
  color: var(--text-color-light);
}

header a:hover::after {
  transform: scaleX(1);
}

#theme {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  color: var(--text-color-dark);
  background-color: var(--clr-shadow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-color-dark);
  z-index: 90;
}

main, section {
  padding: 20px;
}

main p, section p {
  margin: 10px;
  padding: 10px;
  line-height: 200%;
  letter-spacing: 1px;
  max-width: 600px;
}

main p:nth-child(even) {
  background-color: var(--box-color);
  border-radius: 10px;
}

h2 {
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
}

section {
  background-color: var(--clr-gray);
  border-top: 1px solid var(--clr-dark);
}

hr {
  margin: 20px;
}

footer {
  background-color: var(--clr-dark2);
  color: var(--clr-white2);
  padding: 20px;
  text-align: center;
}

.b2t {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--clr-shadow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-color-dark);
  color: var(--text-color-dark);
  z-index: 90;
}

#b2t-btn {
  display: none;
}

.b2t:hover {
  border: 2px solid black;
}

.fade-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.0;
  z-index: 99;
  animation: fadein 2s ease;
  pointer-events: none;
}

@keyframes fadein {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}