:root {
  --accent-clr: #0D2149;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */

header {
  border-bottom: 1px solid var(--accent-clr);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .title {
  font-size: 1.3em;
  padding: 5px 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: var(--accent-clr);
  padding: 5px;
  margin-left: 10px;
}

nav a:hover {
  background-color: var(--accent-clr);
  color: white;
}

header button {
  background-color: transparent;
  border: none;
  display: none;
}

/* Hero Section */

.hero {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-title {
  color: var(--accent-clr);
  letter-spacing: 0.1em;
  font-size: 2.5rem;
  text-align: center;
}

.hero .tagline {
  font-style: italic;
  text-align: center;
}

.hero .intro {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.1em;
  max-width: 600px;
}

section {
  padding: 40px 20px;
  margin-top: 20px;
}

section .title {
  font-size: 1.5em;
  border-left: 4px solid var(--accent-clr);
  padding-left: 10px;
  margin-bottom: 10px;
}

section .content {
  padding: 10px;
}

.about .content {
  max-width: 700px;
  margin: auto;
}

.about p {
  padding: 10px;
  line-height: 1.6;
}

.container {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid var(--accent-clr);
  border-radius: 15px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.08em;
  transition: 0.3s ease;
}

.box:hover {
  background-color: var(--accent-clr);
  color: white;
}

footer {
  border-top: 1px solid var(--accent-clr);
  width: 100%;
  text-align: center;
  padding: 10px;
  line-height: 1.5em;
  font-size: 0.9em;
  opacity: 0.9;
}