:root {
  --bg-clr: #0D0D0F;
  --box-clr: #1A1A22;
  --accent-clr1: teal;
  --accent-clr2: purple;
  --text-clr: #FFFFFF;
  --text-clr2: #B3B3C2;
  --clr-alpha: #00000066;
  --glass-clr: #ffffff11;
  --glass-edge: #ffffff33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--bg-clr);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pan {
  background-image: url('bg.webp');
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -3;
  filter: blur(15px);
  background-position: left;
  animation: panning 10s alternate infinite;
}

@keyframes panning {
  to {
    background-position: right;
  }
}

.mesh {
  background-image: url('mesh.png');
  background-size: 128px;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -2;
}

.overlay {
  background-color: var(--clr-alpha);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.glass-card {
  width: min(75vw,500px);
  aspect-ratio: 3/4;
  background-color: var(--glass-clr);
  border: 1px solid var(--glass-edge);
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 0 15px var(--clr-alpha);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  transition: 0.3s ease;
}

.glass-card:hover {
  transform: scale(1.02);
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  border: 4px solid var(--text-clr2);
  transition: 0.3s ease;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  font-size: 2em;
  color: var(--text-clr);
  letter-spacing: 0.1em;
  font-family: Serif;
  transition: 0.3s ease;
}

.subtitle {
  color: var(--text-clr2);
  letter-spacing: 0.05em;
}

.socialbar {
  display: flex;
  gap: 25px;
}

.socialicon {
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.socialicon:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

a {
  text-decoration: none;
}

.glass-card:hover .profile {
  transform: scale(1.05);
}

.glass-card:hover .profile::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: conic-gradient(var(--accent-clr1), var(--accent-clr2), var(--accent-clr1));
  filter: blur(20px);
  z-index: -1;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.glass-card:hover .name {
  transform: scale(1.05);
}