* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F7FFE0;
}

.skills {
  width: min(400px, 75vw);
  height: min(600px, 60vh);
  background-color: #FFFFFF11;
  border: 1px solid #FFFFFF33;
  border-radius: 10px;
  box-shadow: 0 0 15px #00000066;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
}

.skill-title {
  margin-bottom: 20px;
}

.skill-item {
  padding: 20px;
}

.skill-label {
  display: flex;
  justify-content: space-between;
}

.skill-name {
  font-size: 1.2em;
}

.skill-value {
  font-style: italic;
  font-size: 0.9em;
}

.bar {
  margin-top: 10px;
  width: 100%;
  height: 12px;
  background-color: #33333366;
  border-radius: 6px;
  box-shadow: 2px 5px 15px #00000055;
  position: relative;
}

.bar-fill {
  background-color: #FFA630;
  position: absolute;
  width: 0px;
  left: 0;
  height: 100%;
  border-radius: 6px;
  z-index: 1;
  transition: width 1.5s ease-out;
}