* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 30%;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000066;
  position: relative;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .title {
  transform: translateY(-50px);
}

.card:hover .info {
  transform: translateY(50px);
}

.title, .info {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.5);
}

.title {
  font-size: 3em;
  color: white;
}

.info{
  font-size: 1.5em;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}