:root {
  /* fallback colors */
  --bg-dark: hsl(220 59% 91%);
  --bg: hsl(220 100% 97%);
  --bg-light: hsl(220 100% 100%);
  --text: hsl(226 85% 7%);
  --text-muted: hsl(220 26% 31%);
  --highlight: hsl(220 100% 100%);
  --border: hsl(220 19% 53%);
  --border-muted: hsl(220 27% 65%);
  --primary: hsl(221 49% 33%);
  --secondary: hsl(44 100% 14%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  
  /* oklch color */
  --bg-dark: oklch(0.92 0.025 264);
  --bg: oklch(0.96 0.025 264);
  --bg-light: oklch(1 0.025 264);
  --text: oklch(0.15 0.05 264);
  --text-muted: oklch(0.4 0.05 264);
  --highlight: oklch(1 0.05 264);
  --border: oklch(0.6 0.05 264);
  --border-muted: oklch(0.7 0.05 264);
  --primary: oklch(0.4 0.1 264);
  --secondary: oklch(0.4 0.1 84);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

body {
  background-color: var(--bg-dark);
  color: var(--text-muted);
  padding: 10px;
}

header {
  font-size: 2rem;
  color: var(--text);
  text-align: center;
  padding: 20px;
  font-family: "Times New Roman";
}

.search-bar {
  text-align: center;
  margin-bottom: 10px;
}

#text-input {
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: var(--bg);
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.count {
  font-size: 0.9em;
}

.count #count {
  float: right;
}

.tooltip {
  text-align: center;
  display: none;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--bg-light);
  box-shadow: 0 0 15px #00000033;
  padding: 20px;
  border-radius: 10px;
  color: var(--text);
}

.list-item .menu {
  position: relative;
}

.list-item div {
  flex: 1;
}

.list-item.done {
  color: var(--text-muted);
  font-size: 0.9em;
}

.edit-box {
  display: flex;
  align-items: center;
}

.edit-box input {
  flex: 1;
  width: 75%;
}

.search-box {
  text-align: center;
}

.search-box input {
  padding: 5px;
}

.list-item button {
  background-color: transparent;
  border: none;
}

.option-box {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  z-index: 2;
  display: none;
  box-shadow: 0 0 10px #00000033;
}

.option-box button {
  background-color: var(--bg-light);
  padding: 5px;
}

.option-box.active {
  display: flex;
}