body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

button {
  padding: 10px;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: #00000099;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}