:root {
  --box-clr: #1B192C;
  --box2-clr: #0B091C;
  --bg-clr: #000000;
  --txt-clr: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box {
  background-color: var(--box-clr);
  padding: 20px;
  border-radius: 10px;
  width: min(250px, 60vw);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.title {
  font-size: 2em;
  text-align: center;
}

.box .material-icons {
  font-size: 1.8em;
}

.count {
  font-size: 1.2em;
  visibility: hidden;
  transition: visibility 0.3s ease;
}

.title, .count, .material-icons {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.box::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  z-index: -1;
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.box:hover::after {
  opacity: 1;
}

.box:hover {
  background-color: var(--box2-clr);
}

.box:hover .title {
  transform: scale(1.05);
}

.box:hover .count, .box:hover .material-icons {
  transform: scale(1.2);
}

.box:hover .count {
  visibility: visible;
}